body {
    overflow: hidden;
}

body > * {
    font-family: Arial, sans-serif;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

b:hover {
    cursor: default;
}

i:hover {
    cursor: default;
}

.transparent {
    background-color: rgba(0, 0, 0, 0.07);
}

.item {
    display: inline-block;
    height: 100%;
    width: 50px;
    margin: 0;
    margin-right: 5px;
    transition: background-color 200ms;
}
.item.icon {
    font-size: xx-large;
}
.item.active {
    background-color: rgba(255, 255, 255, 0.4);
}

.item:hover {
    background-color: rgba(255, 255, 255, 0.2);
}

.item:hover:active {
    background-color: rgba(111, 111, 111, 0.46);
}

.taskListSeperator {
    display: inline-block;
    height: 100%;
    width: 5px;
    margin: 0;
    border-right: 1px solid rgba(255, 255, 255, 0.3);
    border-left: 1px solid rgba(255, 255, 255, 0.3);
    -webkit-box-shadow: 1px 0px 0px 0px rgba(0,0,0,0.3), -1px 0px 0px 0px rgba(0,0,0,0.3);
    -moz-box-shadow: 1px 0px 0px 0px rgba(0,0,0,0.3), -1px 0px 0px 0px rgba(0,0,0,0.3);
    box-shadow: 1px 0px 0px 0px rgba(0,0,0,0.3), -1px 0px 0px 0px rgba(0,0,0,0.3);
}

.floatRight {
    float: right;
}

.floatLeft {
    float: left;
}

.iFrame {
    border: 1px solid rgba(255, 255, 255, 0.3);
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -webkit-box-shadow: 0px 0px 0px 1px rgba(0,0,0,0.2), 0px 0px 13px -3px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 0px 1px rgba(0,0,0,0.2), 0px 0px 13px -3px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 0px 1px rgba(0,0,0,0.2),  0px 0px 13px -3px rgba(0,0,0,0.75);
    overflow: hidden;
    position: absolute;
    top: 10%;
    left: 10%;
    height: 600px;
    width: 800px;
    min-width: 200px;
    min-height: 100px;
    transition: width 200ms, height 200ms, top 200ms, left 200ms;
}

.iFrame.move {
    transition: width 0ms, height 0ms, top 0ms, left 0ms;
}

.iFrame.max {
    top: 0 !important;
    left: 0 !important;
    height: calc(100% - 3px) !important;
    width: calc(100% - 3px) !important;
    border-radius: 0 0 0 0 !important;
}

.iFrame.active {
    -webkit-box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.75);
    background-color: rgba(255, 255, 255, 0.5);

}

.iFrame.hideFrame {
    top: 100% !important;
    left: 150px !important;
    width: 50px !important;
    height: 50px !important;
    opacity: 0.5 !important;
    transition: width 200ms, height 200ms, top 200ms, left 200ms;
}

.iFrameTopBar {
    height: 35px;
    left: 5px;
    right: 5px;
    display: block;
}

.frameLabel {
    margin: 6px;
    width: 70%;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.frameLabelTxt {
    margin-left: 10px;
    width: 100%;
    color: black;
    font-style: normal;
    font-weight: bold;
    text-overflow: ellipsis;
    text-shadow: 0 0 0 !important;
}

.iFrameTopBarBtns {
    position: relative;
    height: 20px;
    width: 120px;
    float: right;
    margin-right: 5px;
    border-radius: 0 0 5px 5px;
    border: 1px solid rgba(0,0,0,0.6);
    border-top: 0;
    overflow: hidden;
}

.iFrameTopBarBtn {
    position: relative;
    display: block;
    float: left;
    height: 100%;
    width: 34px;
    border-right: 1px solid rgba(0, 0, 0, 0.6);
    box-shadow: inset 0 10px 1px rgba(255,255,255,0.1), inset 0 0 2px rgba(255,255,255,0.75);
}

.iFrameTopBarBtn.close {
    width: 50px;
    position: absolute;
    top: 0;
    right: 0;
    border: 0;
    background-color: rgba(226, 0, 0, 0.65);
}

.iFrameTopBarBtn.close:hover {
    background-color: rgba(255, 0, 0, 0.8);
}

.iFrameTopBarBtn.close:active:hover {
    background-color: rgba(141, 0, 0, 0.8);
}

.iFrameTopBarBtn:hover {
    background-color: rgba(255, 255, 255, 0.2);
}

.iFrameContent {
    position: absolute;
    top: 30px;
    left: 5px;
    right: 5px;
    bottom: 5px;
    background-color: #ffffff;
    border: 1px solid black;
    overflow: auto;
}

.topSizer {
    position: absolute;
    top: 0;
    left: 5px;
    right: 5px;
    height: 5px;
    cursor: n-resize;
}

.leftSizer {
    position: absolute;
    top: 5px;
    left: 0;
    bottom: 5px;
    width: 5px;
    cursor: w-resize;
}

.rightSizer {
    position: absolute;
    top: 5px;
    right: 0;
    width: 5px;
    bottom: 5px;
    cursor: e-resize;
}

.bottomSizer {
    position: absolute;
    bottom: 0;
    left: 5px;
    right: 5px;
    height: 5px;
    cursor: s-resize;
}

.cSizer {
    position: absolute;
    height: 10px;
    width: 10px;
    z-index: 999;
}

.topLeftSizer {
    top: 0;
    left: 0;
    cursor: nw-resize;
}

.topRightSizer {
    top: 0;
    right: 0;
    cursor: ne-resize;
}

.bottomLeftSizer {
    bottom: 0;
    left: 0;
    cursor: sw-resize;
}

.bottomRightSizer {
    bottom: 0;
    right: 0;
    cursor: se-resize;
}

.workSpaceItem {
    position: absolute;
    z-index: 0;
    height: 75px;
    width: 75px;
    font-size: 60px;
    border: 2px solid rgba(255, 255, 255, 0);
}
.workSpaceItem.fixedWorkspaceItem {
    position: relative;
    float: left;
}
.workSpaceItem.move {
    position: absolute;
    transition: top 0ms, left 0ms !important;
}
.workSpaceItem:hover {
    background-color: rgba(255, 255, 255, 0.2);
    border: 2px solid rgba(255, 255, 255, 0.3);
    border-radius: 5px;
}
.workSpaceItem:hover:active {
    background-color: rgba(255, 255, 255, 0.2);
    z-index: 1;
}
.workSpaceItem.active {
    background-color: rgba(255, 255, 255, 0.5);
    border: 2px solid rgba(255, 255, 255, 0.3);
    border-radius: 5px;
    z-index: 1;
}
.workSpaceItemLabel {
    font-size: 13px;
    position: absolute;
    overflow: hidden;
    bottom: -19px;
    width: 100%;
    font-weight: normal;
    color: white;
    background-color: transparent;
    border: 0;
    text-align: center;
    text-shadow: 0 1px 3px #000;
    resize: none;
}
.workSpaceItemLabel:focus {
    border: 0;
    box-shadow: none;
    outline: none;
}

.cMenuItem {
    position: relative;
    margin: 0;
    margin-left: 1px;
    margin-right: 1px;
    padding: 2px 1px 2px 1px;
    border:1px solid rgba(180,200,255,0);
    font-size: 15px;
}
.cMenuItem:hover {
    box-shadow:inset 0 0 0 1px rgba(255,255,255,0.5);
    border:1px solid rgba(180,200,255,1);
    background: -moz-linear-gradient(top,  rgba(232,247,255,0.5) 0%, rgba(198,237,255,0.5) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(232,247,255,0.5)), color-stop(100%,rgba(198,237,255,0.5))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(232,247,255,0.5) 0%,rgba(198,237,255,0.5) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(232,247,255,0.5) 0%,rgba(198,237,255,0.5) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(232,247,255,0.5) 0%,rgba(198,237,255,0.5) 100%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(232,247,255,0.5) 0%,rgba(198,237,255,0.5) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#80e8f7ff', endColorstr='#80c6edff',GradientType=0 ); /* IE6-9 */
}

.cMenuItemLabel {
    border-radius: 2px;
    display: block;
    border: 1px solid transparent;
    padding: 3px 10px 3px 3px;
    color: #000;
    text-decoration: none;
    cursor: default;
    text-shadow: none;
    margin-left: 5px;
}

.fullImage {
    max-height: 100%;
    max-width: 100%;
    position: absolute;
    display: inline-block;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    color: #fff;
}

#mainFrame {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: none no-repeat center center fixed;
    background-size: cover;
    -webkit-transition: background-image 0.2s ease-in-out;
    transition: background-image 0.2s ease-in-out;
}

#workspace {
    width: 100%;
    position: absolute;
    top: 0;
    bottom: 51px;
}

#toolbar {
    position: fixed;
    /*z-index: 9999999;*/
    bottom: 0;
    height: 50px;
    width: 100%;
    border-top: 1px solid rgba(255, 255, 255, 0.5);
    -webkit-box-shadow: 0px -1px 0px 0px rgba(0,0,0,0.5);
    -moz-box-shadow: 0px -1px 0px 0px rgba(0,0,0,0.5);
    box-shadow: 0px -1px 0px 0px rgba(0,0,0,0.5);
}

#clock {
    width: 100px;
    color: white;
}

#clock > div {
    margin: 0;
    margin-top: 2%;
    height: 45%;
    width: 100%;
    text-align: center;
}

.cMenu {
    height: auto;
    min-width: 200px;
    position: absolute;
    border: 1px solid #9e99a5;
    background-color: #f0f0f0;
    z-index: 999999999999999;
    box-shadow: 2px 2px 3px rgba(0,0,0,0.35), inset 1px 1px 0 #fff;
}

#ecMenu {
    top: 0;
}