<div class="window active">
    <div class="windowTopbar">
        <div class="windowTopbarIcon"><div class="icon"></div></div>
        <label class="windowTopbarLabel"></label>
        <div class="windowTopbarBtns">
            <div class="btnMin"><div class="icon icon-min"></div></div
            ><div class="btnMax"><div class="icon icon-max"></div></div
            ><div class="btnClose"><div class="icon icon-close"></div></div>
        </div>
    </div>
    <div class="windowContent"></div>
    <div class="sizer">
        <div class="sizer topSizer" data-direction="n"></div>
        <div class="sizer leftSizer" data-direction="w"></div>
        <div class="sizer rightSizer" data-direction="e"></div>
        <div class="sizer bottomSizer" data-direction="s"></div>
        <div class="sizer cSizer topLeftSizer" data-direction="nw"></div>
        <div class="sizer cSizer topRightSizer" data-direction="ne"></div>
        <div class="sizer cSizer bottomLeftSizer" data-direction="sw"></div>
        <div class="sizer cSizer bottomRightSizer" data-direction="se"></div>
    </div>
</div>