<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <system.webServer>
    <httpErrors>
      <remove statusCode="502" subStatusCode="-1" />
      <remove statusCode="501" subStatusCode="-1" />
      <remove statusCode="500" subStatusCode="-1" />
      <remove statusCode="412" subStatusCode="-1" />
      <remove statusCode="406" subStatusCode="-1" />
      <remove statusCode="405" subStatusCode="-1" />
      <remove statusCode="404" subStatusCode="-1" />
      <remove statusCode="403" subStatusCode="-1" />
      <remove statusCode="401" subStatusCode="-1" />
      <remove statusCode="400" />
      <error statusCode="400" path="D:\Webroot\geiooo.de\error_docs\bad_request.html" />
      <remove statusCode="407" />
      <error statusCode="407" path="D:\Webroot\geiooo.de\error_docs\proxy_authentication_required.html" />
      <remove statusCode="414" />
      <error statusCode="414" path="D:\Webroot\geiooo.de\error_docs\request-uri_too_long.html" />
      <remove statusCode="415" />
      <error statusCode="415" path="D:\Webroot\geiooo.de\error_docs\unsupported_media_type.html" />
      <remove statusCode="503" />
      <error statusCode="503" path="D:\Webroot\geiooo.de\error_docs\maintenance.html" />
      <error statusCode="401" prefixLanguageFilePath="" path="D:\Webroot\geiooo.de\error_docs\unauthorized.html" />
      <error statusCode="403" prefixLanguageFilePath="" path="D:\Webroot\geiooo.de\error_docs\forbidden.html" />
      <error statusCode="404" prefixLanguageFilePath="" path="D:\Webroot\geiooo.de\error_docs\not_found.html" />
      <error statusCode="405" prefixLanguageFilePath="" path="D:\Webroot\geiooo.de\error_docs\method_not_allowed.html" />
      <error statusCode="406" prefixLanguageFilePath="" path="D:\Webroot\geiooo.de\error_docs\not_acceptable.html" />
      <error statusCode="412" prefixLanguageFilePath="" path="D:\Webroot\geiooo.de\error_docs\precondition_failed.html" />
      <error statusCode="500" prefixLanguageFilePath="" path="D:\Webroot\geiooo.de\error_docs\internal_server_error.html" />
      <error statusCode="501" prefixLanguageFilePath="" path="D:\Webroot\geiooo.de\error_docs\not_implemented.html" />
      <error statusCode="502" prefixLanguageFilePath="" path="D:\Webroot\geiooo.de\error_docs\bad_gateway.html" />
    </httpErrors>
    <rewrite>
      <rules>
        <remove name="Plesk. SSL redirect for #7" />
        <rule name="Plesk. SSL redirect for #7" patternSyntax="Wildcard" stopProcessing="true">
          <match url="*" />
          <conditions>
            <add input="{HTTPS}" pattern="OFF" />
            <add input="{HTTP_IS_SITEPREVIEW}" pattern="1" negate="true" />
          </conditions>
          <serverVariables />
          <action type="Redirect" url="https://{HTTP_HOST}/{R:1}" />
        </rule>
      </rules>
      <outboundRules>
        <preConditions>
          <preCondition name="ResponseIsHtml1">
            <add input="{RESPONSE_CONTENT_TYPE}" pattern="^text/html" />
          </preCondition>
        </preConditions>
      </outboundRules>
    </rewrite>
    <directoryBrowse enabled="true" />
  </system.webServer>
  <system.web>
    <compilation tempDirectory="C:\Inetpub\vhosts\geiooo.de\tmp" />
  </system.web>
</configuration>