<div class="masterkeyboard">
    <div class="bar">
        <label>MIDI
            <input class="toggleMidi" type="checkbox">
            <span class="checkmark"></span>
        </label>
        <select class="selectMidi on">
            <option value="default" disabled>Midi Device</option>
        </select>
        <span class="divider"></span>
        <label for="transpose">Transpose:</label> <input type="number" class="transpose" id="transpose" step="1" min="-99" max="99"><div></div>
        <span class="divider"></span>
        <label>Auto resize
            <input class="toggleResize" type="checkbox">
            <span class="checkmark"></span>
        </label>
        <label>Show&nbsp;
            <div class="key-select-wrapper" style="display: inline-block;">
            </div>
        </select> keys
        </label>
        <div class="icon-button sustain">
            Sustain&nbsp;
            <div class="icon-button" style="font-size: 0.5em">HOLD</div>
        </div>
    </div>
    <div class="keyboard">
        <div class="key white"><div></div><div></div></div>
        <div class="key black"><div></div><div></div></div>
    </div>
</div>