<div class="instrument embed">
    <div class="surface">
        <div class="delete icon-button" style="height: 50px;"></div>
        <select class="waveSelect">
            <option value="0">Sine</option>
            <option value="1">Square</option>
            <option value="2">Sawtooth</option>
            <option value="3">Triangle</option>
            <option value="4">Custom Square</option>
            <option value="5">Custom Sawtooth</option>
            <option value="6">Random</option>
        </select>
    </div>
</div>